node_modules/
dist/
*.exe
*.dll
*.pak
*.bin
*.asar*
locales/
resources/
snapshot_blob.bin
v8_context_snapshot.bin
vulkan-1.dll
vk_swiftshader*
libEGL.dll
libGLESv2.dll
d3dcompiler_47.dll
ffmpeg.dll
icudtl.dat